<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse collapse">
        <ul class="nav in" id="side-menu">
            <li ui-sref-active="active">
                <a ui-sref="app.dashboard.addPoster"><i class="fa fa-car fa-fw"></i> Dodaj ogłoszenie</a>
               </li>
            <li ui-sref-active="active">
                <a ui-sref="app.dashboard.mapPosters"><i class="fa fa-sitemap fa-fw"></i> Mapa ogłoszeń</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.dashboard.aboutPosters"><i class="fa fa-info fa-fw"></i> Informacje o ogłoszeniach</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



