<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <!--<h1 class="page-header">Blank</h1>-->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>