﻿<div id="wrapper">

    <!-- Navigation -->
    <header ></header>        
    
    <!-- /.navbar-top-links -->
        
               
    <!-- /.navbar-static-side -->
  
    <div id="page-wrapper" ng-style="menu && {} || {'margin-left': '0px'}" >
        <div id="animView" ui-view="Test" class="anim-in-out anim-fade"  data-anim-in-speed="260" data-anim-out-speed="0" ></div>
                
    </div>
   
    <!-- /#page-wrapper -->
</div>
