﻿<div class="anim-fade" ng-controller="ManageAccounts">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Zarządzanie użytkownikami <!--<i class="fa fa-plus fa-fw fa-lg" style="float:right;" tooltip="Dodaj uĹĽytkownika" tooltip-placement="top"></i>--></h1>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- /.panel-heading -->
    <div class="table-responsive ">
        <div class="panel panel-default">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Imię </th>
                        <th>Nazwisko</th>
                        <th>Email</th>
                        <th>Oddział</th>
                        <th>Ilość ogłoszeń</th>
                        <th>Administrator</th>
                        <th>Operacje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in people" ng-style="user.removed == true && { 'backgroundColor':'LightPink' } || userEmail==user.Email && {'background-color':'khaki'} "   >
                        <td>{{ user.Id }}</td>
                        <td>{{ user.FirstName }}</td>
                        <td>{{ user.LastName }}</td>
                        <td>{{ user.Email }}</td>
                        <td>{{ user.Section1.CityName }}</td>
                        <td>{{ user.PostersCount }}</td>
                        <td><input type="checkbox" ng-checked="{{user.Flags}}" ng-model="user.Flags" ng-disabled="user.removed || userEmail==user.Email" ng-change="enableSaveButton()"> </td>
                        <td>
                            <i class="fa fa-times fa-fw fa-lg " uib-tooltip="Usuń użytkownika" ng-style="userEmail==user.Email && {'color':'silver'}" ng-click="userEmail==user.Email || removeUser(user.Id)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer" style="text-align: right;">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" ng-disabled="!notChanges">Zapisz zmiany</button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Zapisywanie zmian</h4>
                </div>
                <div class="modal-body">
                    Czy na pewno?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-primary" ng-click="saveChanges()" data-dismiss="modal">Zaakceptuj</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch Demo Modal
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Zapytanie</h4>
            </div>
            <div class="modal-body">
                Czy na pewno chcesz usunąć użytkownika?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Usuń</button>
            </div>
        </div>
        <!-- /.modal-content -->
<!--</div>-->
<!-- /.modal-dialog -->
<!--</div>-->
<!-- /.table-responsive -->
