<div class="anim-fade" ng-controller="ManageSections">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Zarządzanie oddziałami
                <i data-toggle="modal" data-target="#addSectionModal" class="fa fa-plus fa-fw fa-lg" style="float:right;" uib-tooltip="Dodaj oddział"></i>
            </h1>
            <div ng-repeat="error in errorMessage">
                <div style="color:red">{{error}}</div>
            </div>
</div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- /.panel-heading -->
    <div class="table-responsive">
        <div class="panel panel-default">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nazwa</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="section in sections" ng-style="section.removed == true ? { backgroundColor:'LightPink' } : {}">
                        <td>{{ section.Id }}</td>
                        <td>{{ section.CityName }}</td>
                        <td>
                            <i class="fa fa-times fa-fw fa-lg " uib-tooltip="Usuń oddział" ng-click="removeSection(section.Id)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer" style="text-align: right;">
                
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" ng-disabled="!notChanges">Usuń wybrane oddziały</button>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Zapisywanie zmian</h4>
                    </div>
                    <div class="modal-body">
                        Czy na pewno?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Zamknij</button>
                        <button type="button" class="btn btn-primary" ng-click="saveChanges()" data-dismiss="modal">Zaakceptuj</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal fade" id="addSectionModal" tabindex="-1" role="dialog" aria-labelledby="customLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Dodawanie oddziału</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" ng-model="sectionAddName" class="form-control" placeholder="Nazwa oddziału" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Anuluj</button>
                        <button type="button" class="btn btn-primary" ng-click="addSection(sectionAddName)" data-dismiss="modal">Dodaj oddział</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
    <!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch Demo Modal
    </button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Zapytanie</h4>
                </div>
                <div class="modal-body">
                    Czy na pewno chcesz usunąć użytkownika?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Usuń</button>
                </div>
            </div>
            <!-- /.modal-content -->
    <!--</div>-->
    <!-- /.modal-dialog -->
    <!--</div>-->
    <!-- /.table-responsive -->
