﻿    <div class="container" ng-controller="LoginCtrl">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title">Logowanie</h3>
                    </div>
                    <div class="panel-body">
                        <form name="loginForm" role="form" ng-submit="loginFormButton(user)">

                                <input name="inputEmailName" type="email" id="inputEmail" class="form-control" placeholder="Adres e-mail" required="" autofocus="" ng-model="user.Email" nmaxlength="255" ng-focus="loginForm.inputEmailName.$setUntouched()" />
                                <div class="errorMessage" ng-messages="loginForm.inputEmailName.$error" ng-if="loginForm.inputEmailName.$touched">
                                    <div ng-message="required">Adres e-mail jest wymagany.</div>
                                    <div ng-message="email">Twój adres e-mail nie jest poprawny.</div>
                                    <div ng-message="maxlength">Twój adres e-mail jest za długi.</div>
                                </div>

                                <!--PASSWORD-->
                                <input name="inputPasswordName" type="password" id="inputPassword" class="form-control" placeholder="Hasło" required="" ng-model="user.Password" minlength="8" ng-focus="loginForm.inputPasswordName.$setUntouched()" />
                                <div class="errorMessage" ng-messages="loginForm.inputPasswordName.$error" ng-if="loginForm.inputPasswordName.$touched">
                                    <div ng-message="required">Hasło jest wymagane.</div>
                                    <div ng-message="minlength">Twoje hasło jest za krótkie.</div>
                                </div>

                            <br />
                                <b>
                                <span style="color:red">{{errorLoginMessage}}</span>
                                <span style="color:green">{{successRegisterMessage}}</span>
                                </b>
                            
                                <button class="btn btn-lg  btn-primary btn-block" type="submit" ng-disabled="loginForm.$invalid" ng-blur="errorLoginMessage=''">Zaloguj się</button>
                                <div class="text-center small " style="margin-top:5px">Nie masz konta? </div>
                                <a ui-sref="app.register" class="btn btn-link btn-block">Rejestracja</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>