<div ng-controller="AccountSettings">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Zarządzanie kontem</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row ">
    <div class="col-md-6 ">
        <form name="formPasswordChange" role="form" ng-submit="changePassword(user)">
        <div class="panel panel-default">

            <div class="panel-heading">
                Zmiana hasła:
            </div>
            <div class="panel-body ng-cloak">

                <input name="passwordOldName" type="password" class="form-control" placeholder="Stare hasło" required="" ng-model="user.OldPassword" ng-minlength="8" ng-focus="formPasswordChange.passwordOldName.$setUntouched()" ng-pattern="/^(?=.*[A-Z].*[A-Z])(?=.*[!@#$&*])(?=.*[0-9].*[0-9])(?=.*[a-z].*[a-z].*[a-z]).{8,}$/" />
                <div class="errorMessage" ng-messages="formPasswordChange.passwordOldName.$error" ng-if="formPasswordChange.passwordOldName.$touched">
                    <div ng-message="required">Stare hasło jest wymagane.</div>
                    <div ng-message="pattern">Hasło musi zawierać znaki specjalne, cyfry oraz duże i małe litery.</div>
                    <div ng-message="minlength">Twoje stare hasło jest za krótkie.</div>
                </div>

                <input name="passwordName" type="password" class="form-control" placeholder="Hasło" required="" ng-model="user.NewPassword" ng-minlength="8" ng-focus="formPasswordChange.passwordName.$setUntouched()" ng-pattern="/^(?=.*[A-Z].*[A-Z])(?=.*[!@#$&*])(?=.*[0-9].*[0-9])(?=.*[a-z].*[a-z].*[a-z]).{8,}$/" />
                <div class="errorMessage" ng-messages="formPasswordChange.passwordName.$error" ng-if="formPasswordChange.passwordName.$touched">
                    <div ng-message="required">Hasło jest wymagane.</div>
                    <div ng-message="pattern">Hasło musi zawierać znaki specjalne, cyfry oraz duże i małe litery.</div>
                    <div ng-message="minlength">Twoje hasło jest za krótkie.</div>
                </div>

                <!--SAME PASSWORD-->
                <input name="repeatPasswordName" type="password" class="form-control" placeholder="Powtórz hasło" required="" ng-model="repeatPassword" minlength="8" ng-focus="formPasswordChange.repeatPasswordName.$setUntouched()" ng-pattern="{{user.NewPassword}}" />
                <div class="errorMessage" ng-messages="formPasswordChange.repeatPasswordName.$error" ng-if="formPasswordChange.repeatPasswordName.$touched">
                    <div ng-message="required">Powtórka hasła jest wymagana.</div>
                    <div ng-message="minlength">Twoje powtórzone hasło jest za krótkie.</div>
                    <div ng-message="pattern">Potwórzone hasło musi być takie.</div>
                </div>
            </div>
            <div class="panel-footer" style="text-align: right;">
                <button type="submit" class="btn btn-success" ng-disabled="formPasswordChange.$invalid">Zapisz</button>
            </div>
        </div>
        </form>
    </div>
    <div class="col-md-6 ">
        <form name="formSectionChange" role="form" ng-submit="changeSection(user)">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Zmiana oddziału:
                </div>
                <div class="panel-body ">
                    <div ng-hide="loadingSection">
                        <select class="form-control" disabled>
                            <option value="" disabled="" selected="">Loading...</option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div ng-show="loadingSection">
                        <select name="inputSectionName" id="inputSection" ng-model="user.Section" class="form-control" ng-options="section as section.CityName for section in sections" onchange="this.style.setProperty('color','black','important');" required>
                            <option value="" disabled selected hidden> Wybierz oddział...</option>
                        </select>
                    </div>
                </div>
                <div class="panel-footer" style="text-align: right;">
                    <button type="submit" class="btn btn-success" ng-disabled="formSectionChange.$invalid">Zapisz</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>