﻿<div class="anim-fade container-fluid ">
    <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dodawanie ogłoszenia</h1>
        
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row " ng-controller="AddPoster as vm" >
    <div class="col-lg-12 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                Dodaj ogłoszenie
            </div>
            <div class="panel-body " >
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" ng-submit="vm.addPoster(poster)">
                            <div class="form-group">
                                <label>Skąd:</label>
                                <select id="inputSection" ng-model="vm.poster.From" class="form-control"  onchange="this.style.setProperty('color','black','important');" >
                                    <option value="" disabled selected hidden>Wybierz oddział</option>
                                    <option ng-repeat="section in sections" value="{{section.CityName}}" >{{section.CityName}}</option>
                                </select>
                               
                            </div>
                            <div class="form-group " style="text-align: center"><span class="fa fa-retweet fa-lg " ng-click="switch=!switch; vm.poster.from=null; vm.poster.to=null;"></span></div>
                            <div class="form-group">
                                <label>Dokąd:</label>
                              
                                <input ng-model="vm.poster.To" class="form-control" placeholder="Adres">
                            </div>
                            
                            <label class="control-label " for="Data">
                            Kiedy?
                            </label>
                            <input class="form-control"
                                   ng-model="vm.poster.TransportDate"
                                   ng-model-options="{ updateOn: 'blur' }"
                                   placeholder="Data przejazdu"
                                   moment-picker="input"
                                    locale="pl"
                                 format="LLL"
                                 min-view="year"
                                 start-view="month"
                                 autoclose="true"
                                 today="true">
                            <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
                            
                            <div class="form-group">
                                <label>Ilość miejsc</label>
                                <select class="form-control" ng-model="vm.poster.TransportCurrSize">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success" >Dodaj</button>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
</div>