<div ng-controller="ListPosters" >
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Lista ogłoszeń</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
<!-- /.row -->
    
    <div class="row ">

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading " style="font-size:20px;line-height: 44px;">
                    Filtry
                    <button type="button" class="close" ng-click="showFilts=!showFilts">
                        <span class="fa fa-chevron-down fa-lg" ng-if="!showFilts"></span>
                        <span class="fa fa-chevron-up fa-lg" ng-if="showFilts"></span>
                    </button>
                </div>
                <div class="panel-body panel-collapse collapse" uib-collapse="!showFilts">
                    <label for="autorName" class="sr-only" >Autor</label>
                    <!--ng-options="poster.Person as poster.Person.FirstName + ' '+ poster.Person.LastName for poster in posters | unique :'Person.FirstName' "-->
                    <input type="text" id="autorName" class="form-control formInline" placeholder="Autor" nmaxlength="50" ng-model="filterUserame"/>
                    <label for="dataPoster" class="sr-only">Data przejazdu</label>
                    <input type="text" id="dataPoster" class="form-control formInline" placeholder="Data przejazdu" nmaxlength="50" />
                    <label for="fromPoster" class="sr-only">Od</label>
                    <input type="text" id="fromPoster" class="form-control formInline" placeholder="Od" nmaxlength="50" ng-model="filterFrom"/>
                    <label for="toPoster" class="sr-only">Do</label>
                    <input type="text" id="toPoster" class="form-control formInline" placeholder="Do" nmaxlength="50" ng-model="filterTo"/>
                </div>

            </div>
            <!-- /.col-lg-4 -->
        </div>
    </div>
    <div class="row">

       
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading " style="font-size:20px;line-height: 44px;" ng-click="show()">
                    Sortowanie
                    <button type="button" class="close" ng-click="showSorting=!showSorting">
                        <span class="fa fa-chevron-down fa-lg" ng-if="!showSorting"></span>
                        <span class="fa fa-chevron-up fa-lg" ng-if="showSorting"></span>
                    </button>
                </div>

                <div class="panel-body panel-collapse collapse"  uib-collapse="!showSorting">
                    <select class="form-control formInline"   >
                        <option value="" disabled selected hidden>Autor</option>
                        <option value=""></option>
                    </select>
                    <select class="form-control formInline">
                        <option value="" disabled="" selected="">Data przejazdu</option>
                        <option value=""></option>
                    </select>
                    <select class="form-control formInline">
                        <option value="" disabled="" selected="">Od</option>
                        <option value=""></option>
                    </select>
                    <select class="form-control formInline">
                        <option value="" disabled="" selected="">Do</option>
                        <option value=""></option>
                    </select>
                </div>

            </div>
            <!-- /.col-lg-4 -->
        </div>
    </div>
    <div class="row">
        <div ng-repeat="p in posters " >
            <div class="col-md-6"  ng-show="detectShowing(p)">
                <div class="panel panel-info">
                    <div class="panel-heading " style="font-size:20px;line-height: 44px;">
                        {{p.From}}  <p class="fa fa-arrow-right fa-lg"></p> {{p.To}}
                    </div>
                    <div class="panel-body">
                        <img src="https://www.wired.com/wp-content/uploads/2016/11/GoogleMap-1-200x100-e1479510769475.jpg" style="max-width:100%" />
                    </div>
                    <div class="panel-footer">
                        <span>{{p.Person.FirstName}} {{p.Person.LastName}}</span><span class="pull-right">{{p.TransportDate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-hide">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading " style="font-size:20px;line-height: 44px;">
                        Olsztyn, Szeroka 14  <p class="fa fa-arrow-right fa-lg"></p>  Olsztyn Billenium
                    </div>
                    <div class="panel-body">
                        <img src="https://www.wired.com/wp-content/uploads/2016/11/GoogleMap-1-200x100-e1479510769475.jpg" style="max-width:100%" />
                    </div>
                    <div class="panel-footer">
                        <span>AUTOR</span><span class="pull-right">HH:MM DD:MM:YYYY</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading " style="font-size:20px;line-height: 44px;">
                        Olsztyn, Szeroka 14  <p class="fa fa-arrow-right fa-lg"></p>  Olsztyn Billenium
                    </div>
                    <div class="panel-body">
                        <img src="https://www.wired.com/wp-content/uploads/2016/11/GoogleMap-1-200x100-e1479510769475.jpg" style="max-width:100%" />
                    </div>
                    <div class="panel-footer">
                        <span>AUTOR</span><span class="pull-right">HH:MM DD:MM:YYYY</span>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading " style="font-size:20px;line-height: 44px;">
                    Olsztyn, Szeroka 14  <p class="fa fa-arrow-right fa-lg"></p>  Olsztyn Billenium
                </div>
                <div class="panel-body">
                    <img src="https://www.wired.com/wp-content/uploads/2016/11/GoogleMap-1-200x100-e1479510769475.jpg" style="max-width:100%" />
                </div>
                <div class="panel-footer">
                    <span>AUTOR</span><span class="pull-right">HH:MM DD:MM:YYYY</span>
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading " style="font-size:20px;line-height: 44px;">
                        Olsztyn, Szeroka 14  <p class="fa fa-arrow-right fa-lg"></p>  Olsztyn Billenium
                    </div>
                    <div class="panel-body">
                        <img src="https://www.wired.com/wp-content/uploads/2016/11/GoogleMap-1-200x100-e1479510769475.jpg" style="max-width:100%" />
                    </div>
                    <div class="panel-footer">
                        <span>AUTOR</span><span class="pull-right">HH:MM DD:MM:YYYY</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading " style="font-size:20px;line-height: 44px;">
                        Olsztyn, Szeroka 14  <p class="fa fa-arrow-right fa-lg"></p>  Olsztyn Billenium
                    </div>
                    <div class="panel-body">
                        <img src="https://www.wired.com/wp-content/uploads/2016/11/GoogleMap-1-200x100-e1479510769475.jpg" style="max-width:100%" />
                    </div>
                    <div class="panel-footer">
                        <span>AUTOR</span><span class="pull-right">HH:MM DD:MM:YYYY</span>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading " style="font-size:20px;line-height: 44px;">
                    Olsztyn, Szeroka 14  <p class="fa fa-arrow-right fa-lg"></p>  Olsztyn Billenium
                </div>
                <div class="panel-body">
                    <img src="https://www.wired.com/wp-content/uploads/2016/11/GoogleMap-1-200x100-e1479510769475.jpg" style="max-width:100%" />
                </div>
                <div class="panel-footer">
                    <span>AUTOR</span><span class="pull-right">HH:MM DD:MM:YYYY</span>
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading " style="font-size:20px;line-height: 44px;">
                        Olsztyn, Szeroka 14  <p class="fa fa-arrow-right fa-lg"></p>  Olsztyn Billenium
                    </div>
                    <div class="panel-body">
                        <img src="https://www.wired.com/wp-content/uploads/2016/11/GoogleMap-1-200x100-e1479510769475.jpg" style="max-width:100%" />
                    </div>
                    <div class="panel-footer">
                        <span>AUTOR</span><span class="pull-right">HH:MM DD:MM:YYYY</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading " style="font-size:20px;line-height: 44px;">
                        Olsztyn, Szeroka 14  <p class="fa fa-arrow-right fa-lg"></p>  Olsztyn Billenium
                    </div>
                    <div class="panel-body">
                        <img src="https://www.wired.com/wp-content/uploads/2016/11/GoogleMap-1-200x100-e1479510769475.jpg" style="max-width:100%" />
                    </div>
                    <div class="panel-footer">
                        <span>AUTOR</span><span class="pull-right">HH:MM DD:MM:YYYY</span>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading " style="font-size:20px;line-height: 44px;">
                    Olsztyn, Szeroka 14  <p class="fa fa-arrow-right fa-lg"></p>  Olsztyn Billenium
                </div>
                <div class="panel-body">
                    <img src="https://www.wired.com/wp-content/uploads/2016/11/GoogleMap-1-200x100-e1479510769475.jpg" style="max-width:100%" />
                </div>
                <div class="panel-footer">
                    <span>AUTOR</span><span class="pull-right">HH:MM DD:MM:YYYY</span>
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="well">
                    <h4>Normal Well</h4>
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <!-- /.col-lg-4 -->
            <!-- /.col-lg-4 -->
        </div>

    </div>
    </div>