<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse collapse">
        <ul class="nav in" id="side-menu">
            <li ui-sref-active="active">
                <a ui-sref="app.dashboard.accountOptions"><i class="fa  fa-wrench  fa-fw"></i> Ustawienia konta</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.supervisor.manageAccounts" ><i class="fa fa-share-square-o fa-fw" style="transform:rotate(180deg);"></i> Panel administratora<span></span></a>
            </li>
            <li ui-sref-active="active" >
                <a ng-click="logout();" style="cursor: pointer;"><b><i class="fa fa-sign-out fa-fw " ></i> Wyloguj się</a></b>
            </li>

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>

