<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse collapse">
        <ul class="nav in" id="side-menu">

            <li ui-sref-active="active">
                <a ui-sref="app.supervisor.manageAccounts"><i class="fa  fa-users fa-fw"></i> Użytkownicy<span></span></a>
            </li>
            <li ui-sref-active="active" >
                <a ui-sref="app.supervisor.manageSections"><i class="fa fa-building-o fa-fw "></i> Oddziały</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>

