﻿<div ng-controller="Controller">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header" style="float:unset" >

            <button  type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="float:left;margin-left:15px;" ng-style="menu==false && {'display':'none'} || isCollapsed && {'background-color':'lawngreen'} || {}; ">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="index.html">SB Admin v2.0 mw</a>-->
            <a ui-sref="app.dashboard.addPoster" class="headerIcons" ng-class="{ active: isActive('/posters') && !isActive('/posters/list') }">
                <i class="fa fa-home fa-fw fa-2x " ></i>
            </a>
            <a ui-sref="app.dashboard.listPosters" class="headerIcons" ng-class="{ active: isActive('/posters/list')  }">
                <i class="fa fa-list  fa-fw fa-2x "></i>
            </a>
            
            <a ui-sref="app.dashboard.accountOptions" class="headerIcons" style="float:right;" ui-sref-active="active">
                <i class="fa fa-gear fa-fw fa-2x "></i>
            </a>
            <div class="panel-body " style="float:right; color: #EEE; font-weight:bold">
                {{userName}}<span ng-cloak ng-show="userSection">, {{userSection}}</span>
            </div>
            <!-- /.dropdown-user -->

        </div>

        <!-- /.navbar-header -->
        <!--<header-notification></header-notification>-->

        <div id="sidebar" >
            <div ng-if="menu==1" class="animate-if">
                <sidebar></sidebar>
            </div>
            <div ng-if="menu==2" class="animate-if">
                <sidebar-Settings></sidebar-Settings>
            </div>
        </div>
    </nav>
    


</div>
